In [12]:
#This notebook will be used for the data science capstone project.
import pandas as pd
import numpy as np
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

We will grab the table with beautiful soup.

In [13]:
#We will grab the table with beautiful soup.
from bs4 import BeautifulSoup
import urllib.request #This is so we can pull the url into an HTML
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M" #This is the url of the table we want to pull
soup = BeautifulSoup(urllib.request.urlopen(url), 'html.parser') #Use Beautiful soup to grab the table
table  = soup.find('table',class_='wikitable sortable') #Store the wikitable as a table

In [14]:
#
A=[]
B=[]
C=[]
for row in table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells) > 0:
     A.append(cells[0].find(text=True))
     B.append(cells[1].find(text=True))
     C.append(cells[2].find(text=True))
df=pd.DataFrame(A,columns=['Postal Code']) #Rename the first collumn    
df['Borough']=B #Rename the second collumn
df['Neighborhood']=C #Rename the third collumn
df_with_deletes=df[~df.Borough.str.contains("Not assigned")] #Get a new dataframe with the not assigned data removed
#Group the postal codes and join the boroughs and neighborhood
df_concat = df_with_deletes.groupby('Postal Code').agg({'Borough': ', '.join,'Neighborhood':', '.join}).reset_index()
#Delete the "\n text"
df_concat["Borough"] = df_concat["Borough"].str.replace("\n", "")
df_concat["Neighborhood"] = df_concat["Neighborhood"].str.replace("\n", "")
df_concat.head()

  Postal Code      Borough                            Neighborhood
0        M1B
  Scarborough                          Malvern, Rouge
1        M1C
  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E
  Scarborough       Guildwood, Morningside, West Hill
3        M1G
  Scarborough                                  Woburn
4        M1H
  Scarborough                               Cedarbrae

In [15]:
df_concat.shape

(103, 3)